<div class="form-container">
  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
    <h2>{{ isEdit ? 'Editar Aluno' : 'Novo Aluno' }}</h2>

    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngIf="studentForm.get('name')?.hasError('required')">
        O nome é obrigatório!
      </mat-error>
      <mat-error *ngIf="studentForm.get('name')?.hasError('onlyLetters')">
        Nome inválido!
      </mat-error>
      
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Data de Nascimento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="birthDate"  #birthInput (click)="picker.open()" readonly [max]="today">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker startView="multi-year"></mat-datepicker>
      <mat-error *ngIf="studentForm.get('birthDate')?.hasError('required')">
        A data de nascimento é obrigatória!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Curso</mat-label>
      <mat-select formControlName="course">
        <mat-option *ngFor="let course of courses" [value]="course">
          {{ course }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="studentForm.get('course')?.hasError('required')">
        O curso é obrigatório!
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Período</mat-label>
      <mat-select formControlName="period">
        <mat-option *ngFor="let period of periods" [value]="period">
          {{ period }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="studentForm.get('period')?.hasError('required')">
        O período é obrigatório!
      </mat-error>
    </mat-form-field>

    <div class="button-group">
      <button mat-raised-button color="primary" type="submit">
        {{ isEdit ? 'Atualizar' : 'Salvar' }}
      </button>
      <button mat-raised-button type="button" routerLink="/">Voltar</button>
    </div>
  </form>
</div>
